format = """
$username\
$hostname\
$shlvl\
$kubernetes\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$hg_branch\
$docker_context\
$cmake\
$dart\
$dotnet\
$elixir\
$elm\
$erlang\
$golang\
$helm\
$julia\
$nim\
$nodejs\
$ocaml\
$php\
$python\
$ruby\
$rust\
$swift\
$terraform\
$conda\
$memory_usage\
$aws\
$env_var\
$custom\
$lua\
$jobs\
$battery\
$status\
$line_break\
$character"""

[directory]
truncation_length = 2

[aws]
symbol = "☁️ "

[git_status]
disabled = true

[time]
disabled = false

[cmd_duration]
disabled = false

[git_branch]
symbol = " "
format = "[$symbol$branch(:$remote_branch)]($style) "
